In [ ]:
pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.5.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.4.2)

In [ ]:
import pymongo
import numpy as np

In [ ]:
client = pymongo.MongoClient('mongodb+srv://iam_hema:hemalatha@hemz.fo3int4.mongodb.net/?retryWrites=true&w=majority')

In [ ]:
db = client['sample_airbnb'] #use abisha # DB is an object created based on client that refers database called abisha

In [ ]:
col = db['listingsAndReviews']

In [ ]:
result = []
for i in col.find({},{'_id','name','description','neighborhood_overview','price','security_deposit','cleaning_fee','extra_people','guests_included',
                      'property_type','room_type','bed_type','cancellation_policy','number_of_reviews','review_scores',
                      'accommodates','bedrooms','beds','availability','amenities','location','address','host'}):
  result.append(i)

In [ ]:
import pandas as pd
df = pd.DataFrame(result)

In [ ]:
df[['availablity_30','availability_60','availability_90','availability_365']] = df['availability'].apply(lambda i:pd.Series([i['availability_30'],i['availability_60'],i['availability_90'],i['availability_365']]))
df[['host_id','host_name','host_response_time']]=df['host'].apply(lambda i:pd.Series([i['host_id'],i['host_name'],i.get('host_response_time',None)]))
df[['street','country','country_code','location']]=df['address'].apply(lambda i:pd.Series([i['street'],i['country'],i['country_code'],i['location']]))
df[['location_type','coordinates','is_location_exact']]=df['location'].apply(lambda i:pd.Series([i['type'],i['coordinates'],i['is_location_exact']]))
df[['latitude','longitude']] = df['coordinates'].apply(lambda i:pd.Series([i[0],i[1]]))
df['average_rating'] = df['review_scores'].apply(lambda i: np.mean([i.get('review_scores_accuracy', 0), i.get('review_scores_cleanliness', 0), i.get('review_scores_checkin', 0), i.get('review_scores_communication', 0), i.get('review_scores_location', 0), i.get('review_scores_value', 0)]))

In [ ]:
df.drop('availability',axis = 1,inplace = True)
df.drop('review_scores',axis = 1,inplace = True)
df.drop('host',axis = 1,inplace = True)
df.drop('address',axis = 1,inplace = True)
df.drop('location',axis = 1,inplace = True)
df.drop('coordinates',axis = 1, inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    5555 non-null   object
 1   name                   5555 non-null   object
 2   description            5555 non-null   object
 3   neighborhood_overview  5555 non-null   object
 4   property_type          5555 non-null   object
 5   room_type              5555 non-null   object
 6   bed_type               5555 non-null   object
 7   cancellation_policy    5555 non-null   object
 8   accommodates           5555 non-null   int64
 9   bedrooms               5550 non-null   float64
 10  beds                   5542 non-null   float64
 11  number_of_reviews      5555 non-null   int64
 12  amenities              5555 non-null   object
 13  price                  5555 non-null   object
 14  security_deposit       3471 non-null   object
 15  cleaning_fee           4024 non-null   object
 16  extra_people           5555 non-null   object
 17  guests_included        5555 non-null   object
 18  availablity_30         5555 non-null   int64
 19  availability_60        5555 non-null   int64
 20  availability_90        5555 non-null   int64
 21  availability_365       5555 non-null   int64
 22  host_id                5555 non-null   object
 23  host_name              5555 non-null   object
 24  host_response_time     4167 non-null   object
 25  street                 5555 non-null   object
 26  country                5555 non-null   object
 27  country_code           5555 non-null   object
 28  location_type          5555 non-null   object
 29  coordinates            5555 non-null   object
 30  is_location_exact      5555 non-null   bool
 31  latitude               5555 non-null   float64
 32  longitude              5555 non-null   float64
 33  average_rating         5555 non-null   float64
dtypes: bool(1), float64(5), int64(6), object(22)
memory usage: 1.4+ MB

In [ ]:
df.isnull().sum()

_id                         0
name                        0
description                 0
neighborhood_overview       0
property_type               0
room_type                   0
bed_type                    0
cancellation_policy         0
accommodates                0
bedrooms                    5
beds                       13
number_of_reviews           0
amenities                   0
price                       0
security_deposit         2084
cleaning_fee             1531
extra_people                0
guests_included             0
availablity_30              0
availability_60             0
availability_90             0
availability_365            0
host_id                     0
host_name                   0
host_response_time       1388
street                      0
country                     0
country_code                0
location_type               0
coordinates                 0
is_location_exact           0
latitude                    0
longitude                   0
average_rating              0
dtype: int64

In [ ]:
df.shape

(5555, 34)

In [ ]:
df.size

188870

In [79]:
df['bedrooms'].fillna(0, inplace=True)
df['beds'].fillna(0, inplace=True)
df['cleaning_fee'].fillna('Not Specified', inplace=True)
df['security_deposit'].fillna('Not Specified',inplace = True)
df['host_response_time'].fillna('Not Specified',inplace = True)
df['is_location_exact'] = df['is_location_exact'].map({False:'No',True:'Yes'})
df['average_rating']=df['average_rating'].replace(0,'Unrated')

In [80]:
df.head()

,_id,name,description,neighborhood_overview,property_type,room_type,bed_type,cancellation_policy,accommodates,bedrooms,...,host_name,host_response_time,street,country,country_code,location_type,is_location_exact,latitude,longitude,average_rating
0,10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,"In the neighborhood of the river, you can find...",House,Entire home/apt,Real Bed,moderate,8,3.0,...,Ana&Gonçalo,within an hour,"Porto, Porto, Portugal",Portugal,PT,Point,NaN,-8.613080,41.141300,9.5
1,1003530,New York City - Upper West Side Apt,"Murphy bed, optional second bedroom available....",Great neighborhood - many terrific restaurants...,Apartment,Private room,Real Bed,strict_14_with_grace_period,2,1.0,...,Greta,within an hour,"New York, NY, United States",United States,US,Point,NaN,-73.965230,40.799620,9.833333
2,10215858,Cozy Queen Guest Room&My,"Mong Kok MTR E1 walk 100 meters, shopping, eat...","Electric Street, Mong Kok near there (Sai Yeun...",Apartment,Private room,Real Bed,strict_14_with_grace_period,2,1.0,...,Danny,within an hour,"Hong Kong, Kowloon, Hong Kong",Hong Kong,HK,Point,NaN,114.170340,22.316550,8.333333
3,10112159,Downtown Oporto Inn (room cleaning),"Tradicional building, with high ceilings next ...","Exciting, urban and dinamic, stay with us, nea...",Hostel,Private room,Real Bed,moderate,2,1.0,...,Elisabete,Not Specified,"Porto, Porto, Portugal",Portugal,PT,Point,NaN,-8.608670,41.154300,Unrated
4,10038496,Copacabana Apartment Posto 6,"The Apartment has a living room, toilet, bedro...",Copacabana in the South zone is the district t...,Apartment,Entire home/apt,Real Bed,strict_14_with_grace_period,4,1.0,...,Ana Valéria,within an hour,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR,Point,NaN,-43.190849,-22.984339,10.0

In [77]:
df.to_csv('airbnb.csv', index=False)